<div class="container mt-4">
  <button type="button" class="btn btn-success btn-md ml-auto" [routerLink]="['/new']">Create</button>
</div>

<div class="container h-100 mt-2">
  <div class="h-100 justify-content-center">

    <div class="row py-1" *ngFor="let group of getGroupsAlphabetical()">
      <div class="col-md-4 col-sm-3 col-7 my-auto">
        {{ group.name }}
      </div>
      <div class="col-md-3 d-none d-md-block col-0 text-right">
        <p class="my-0">
          Using:
        </p>
        <p class="my-0">
          Offline:
        </p>
      </div>
      <div class="col-md-2 col-sm-4 d-none d-sm-block col-0 text-left">
        <p class="my-0">
          {{ group.active }} / {{ group.online }}
        </p>
        <p class="my-0">{{ group.total }}</p>
      </div>
      
      <div class="col-md-3 col-sm-5 col-5 my-auto">
        <button type="button" class="btn btn-info btn-sm col-md-5 col-4 mr-1" (click)="edit(group.name)" [routerLink]="['/edit']">Edit</button>
        <button type="button" class="btn btn-danger btn-sm col-md-5 col-4" (click)="remove(group.name)">Delete</button>
      </div>
    </div>

      </div>
    </div>

